table {
    border-collapse:  collapse;
    text-align:center;
    background: rgb(238, 179, 130);
    
}
.head{
    background:rgb(245, 151, 151);
}
.foot{
    background: rgb(229, 236, 129);
}
th,td {
    
    border: solid 1px;
}
 
.kakaku{

    text-align: right;
}
h1{
    text-align: center;
}

.container{
    width:700px;
    margin-right: auto;
    margin-left : auto;
}